body {
  background-color: #eff;
}

.components {
  background-color: #fff;
  padding: 5px;
  margin: 0px;
  border: 1px solid #7c6f64;
}

#top {
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 0px;
  border-bottom: 2px;
}

#bottom {
  border-radius: 3px;
  padding-top: 14px;
  padding-bottom: 8px;
  border-bottom: 0px;
  border-top: 2px;
}

#middle {
  padding-right: 445.5px;
}

button {
  color: #fff;
}

#ok {
  margin-left: 6px;
  margin-right: 6px;
  background-color: #4981e1;
  border: 0px solid #fff;
}

#cancel {
  margin-left: 6px;
  margin-right: 6px;
  border: 0px solid #fff;
  background-color: #7c6f64
}
